// Importing Global Variables
// stylelint-disable-next-line
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.cves-header-questionmark {
    font-size: var(--pf-v6-global--FontSize--md);
}

.pointer {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.shield-set {
    span.shield-set-severity-value {
        vertical-align: 2px;
        margin-left: 4px;
        margin-right: 16px;
    }
}

.disabled-shield {
    text-decoration: none;
    cursor: default;

    span {
        color: var(--pf-v6-global--disabled-color--100);
    }
}

.known-exploit-popover {
    .pf-c-popover__content {
        width: 380px;
    }
}

.ins-c-conditional-filter {
    .pf-c-select__toggle-wrapper {
        .pf-c-select__toggle-text {
            max-width: 250px;
        }
    }

    .pf-c-dropdown__toggle {
        min-width: 156px;
    }
}

.range-filter-input {
    width: 5em;
}

#cvss-vector-content {
    font-size: var(--pf-v6-global--FontSize--sm);
}
