// Importing Global Variables
// stylelint-disable-next-line
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.cves-header-questionmark {
    font-size: var(--pf-global--FontSize--md);
}

.pointer {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.shield-set {
    span {
        vertical-align: 3px;
        margin-left: 4px;
        margin-right: 16px;
    }
}

.disabled-shield {
    pointer-events: none;

    span {
        color: var(--pf-global--disabled-color--100);
    }
}